/* ID Tags */

#idpc-body {
    background: #ffffff;
}

/* Showcase */

/* Classes */

.idpc-clientInfo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2vw 2vw 0 0;
}

.idpc-clientInfo span {
    width: fit-content;
    height: 100%;
    font-family: 'Gluten';
    font-size: calc(1vw + 2vh + 1px);
    color: #ba0340;
    padding: 1vw;
    margin-right: 0.5vw;
}

.idpc-clientInfo input {
    width: 70%;
    height: 100%;
    font-family: 'Courgette', cursive;
    font-size: calc(1vw + 2vh + 1px);
    border: calc(0.1vw + 0.1vh) solid #b42857;
    padding: 0.5vw;
    margin: 0;
}

.idpc-clientInfo input:focus {
    outline: none;
}

/* ID Tags */

#idpc-showcase {
    width: 80vw;
    height: 60vh;
    position: relative;
    align-self: flex-start;
    top: 15vh;
    font-size: calc(1vw + 2vh + 1px);
    margin: 3vh calc(2vw + 2vh);
}

#idpc-messagereceived {
    width: 100%;
    height: 60%;
    font-family: 'Gluten';
    font-size: calc(2vw + 2vh + 1px);
    color: #0d8a6f;
    text-align: center;
    margin: auto;
}

#idpc-contactForm {
    width: 100%;
    height: 100%;
}

#idpc-contactPar {
    height: fit-content;
    font-family: 'Nanum Myeongjo';
    color: #c20946;
    margin: 0;
}

#idpc-contactEmail {
    height: fit-content;
    font-family: 'Gluten';
    color: #f76c9a;
    margin: 0;
}

#idpc-contactEmail:hover {
    color: #2ec7a6;
}

#idpc-contactEmail:active {
    color: #0479d3;
}

#idpc-messageDiv {
    width: 100%;
    height: 30vh;
    margin: 1vw 0;
    border: calc(0.1vw + 0.1vh) solid #b42857;
}

#idpc-messageDiv textarea {
    width: 99%;
    height: 80%;
    overflow-y: auto;
    resize: none;
    font-family: 'Courgette', cursive;
    font-size: calc(1vw + 2vh + 1px);
    border: none;
    padding: 0 1vw;
    margin: 3vh 0;
}

#idpc-messageDiv textarea:focus {
    outline: none;
}

#idpc-messageButtons {
    width: inherit;
    max-width: 100%;
    height: 15%;
    align-self: flex-start;
    padding: 0 2vw;
}

#idpc-messageButtons p {
    font-family: 'Gluten', cursive;
    font-size: calc(1vw + 2vh + 1px);
    color: #0b7a62;
    padding: 0.2vw;
    margin: 1vw;
    margin-top: 0;
    text-align: center;
}

#idpc-messageButtons span {
    font-family: 'Josefin Slab', cursive;
    font-size: calc(1.5vw + 2vh + 1px);
    color: #f93879;
    padding: 0.2vw;
    margin: 1vw;
    margin-top: 0;
    text-align: center;
}

#idpc-messageButtons span:hover {
    color: #2ec7a6;
}

#idpc-messageButtons span:active {
    color: #0479d3;
}

#idpc-messageButtons input {
    display: none;
}